<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PatientUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/BulkInvitePatient"/>
    <add key="CareTeamUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/CareTeam"/>
    <add key="ServiceProviderUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/ServiceProvider"/>
    <add key="EntityUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/Entity"/>
    <add key="EntityServiceProviderUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/EntityServiceProvider"/>
    <add key="EntityUserUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/EntityUser"/>
    <add key="PatientTagsUrl" value="http://localhost:60365/api/CareTeam/BulkUpload/PatientTags"/>
  </appSettings>
</configuration>